<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yjh.activitytest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--
            standard:
                每次启动活动都会创建新的活动实例
            singleTop:
                该启动模式在启动活动是若返现返回栈的栈顶已经是该活动就会直接使用，不会再创建新的活动实例
            singleTask:
                该模式使活动智能版创建一个实例，若在栈中已存在实例，则直接使用该实例，并把这个活动之上的所有活动全部出栈
            singleInstance:
                该模式会重新启动一个返回栈来管理这个活动
                该模式用于共享活动实例
        -->
        <activity
            android:name=".FirstActivity"
            android:label="This is first activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="This is second activity">
            <intent-filter>
                <action android:name="com.example.activity.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.activitytest.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".ForthActivity">
            <intent-filter>
                <action android:name="com.example.activity.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>